<!DOCTYPE html>
<html>

<head>
  <%- include ./partials/head.ejs %>
</head>

<body>

  <%- include ./partials/navbar.ejs %>

    <body>
      <section class="section">
        <div class="container">
          <br>  
          <h1 class="title">
            Hmm
            <i class="em em-thinking_face"></i>
          </h1>
          <p class="subtitle">
            I don't think that page exists (
            <strong>404</strong>)... Or maybe it just didn't want to load (
            <strong>503</strong>)
            <i class="em em-cry"></i>
            <br>
            <br>
            <h1>
              <%= message %>
            </h1>
            <h2>
              <%= error.status %>
            </h2>
            <pre><%= error.stack %></pre>
          </p>
        </div>
      </section>
    </body>

    <%- include ./partials/footer.ejs %>
</body>

</html>