<!DOCTYPE html>
<html>

<head>
  <%- include ./partials/head.ejs %>
</head>

<body>

  <%- include ./partials/navbar.ejs %>

  <section class="section">
    <div class="container">
      <h1 class="title">
        Search Results:
      </h1>

      <% if(typeof result !== "undefined"){ %>
        <h1 class="subtitle">Is this who you're looking for?</h1>
        <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="<%=result.picDefault%>" alt="<%result.name%>'s Profile Picture">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong><%=result.name%></strong>
                    <br>
                    <%=result.description || "Damn. This user hasn't got a description..."%>
                  </p>
                </div>
              </div>
            </article>
          </div>
          <div class="columns">
              <div class="column">
                  <a href="/watch/<%=result.uploadsID%>" style="width: 100%"class="button is-success">Hell Yeah! <i class="em em---1"></i></a>
              </div>
              <div class="column">
                  <a style="width: 100%" onclick="swal('oh noes', 'Try searching using their exact username?', 'error')" class="button is-danger">Nope <i class="em em--1"></i></a>
              </div>
            </div>

      <%}else{%>
        <h1 class="subtitle">Sorry, we couldn't find any channel with that name. Want to try again?</h1>
        <form action="/search" method="post">
          <label class="label" for="searchQuery">Username:</label>
          <div class="field has-addons">
            <p style="width:100%" class="control">
              <input  name="searchQuery" required id="searchQuery" class="input" type="text" placeholder="OfficialNerdCubed">
            </p>
            <p class="control">
              <button type="submit" class="button is-info">
                Search
              </a>
            </p>
          </div>
        </form>
      <%}%>

    </div>
  </section>
  <%- include ./partials/footer.ejs %>
</body>

</html>